@model TaskManager.Models.TaskItem

@{
    ViewData["Title"] = "Edit Task";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Edit Task</h2>

    <form asp-action="Edit" method="post">
        <input type="hidden" asp-for="Id" />

        <div class="mb-3">
            <label class="form-label">Title</label>
            <input asp-for="Title" class="form-control" required />
        </div>

        <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea asp-for="Description" class="form-control" rows="4"></textarea>
        </div>

        <div class="mb-4">
            <label class="form-label">Category</label>
            <input asp-for="Category" class="form-control" />
        </div>

        <div class="form-check mb-4">
            <input asp-for="IsCompleted" class="form-check-input" />
            <label asp-for="IsCompleted" class="form-check-label"></label>
        </div>


        <button type="submit" class="btn btn-success w-100">Save Changes</button>
    </form>
</div>
